
@font-face {
    font-family: 'PlaywriteRO'; 
    src: url('public/font/PlaywriteRO-VariableFont_wght.woff2') format('woff2');
    font-weight: 100 900; 
    font-style: normal;
    font-display: swap;
  }
  